body {
	background-color: #008080;
}

p {
	font-family: Fantasy; 
	color: #87CEEB; 
	font-size: 70px;
	text-align: center;
	margin: auto;
}

img {
	display: block;
	margin: auto;
	height: 500px;
	width: 500px;
}

p {
	color: 	#AFEEEE; 
	font-size: 50px; 
	font-family:cursive;
	text-align: center;
	margin: auto:
}	

h1 {
	font-family: verdana; 
	color: 	#00FA9A; 
	font-size: 40px;
}

h2 {
	font-family: verdana; 
	color: 	#00FA9A; 
	font-size: 40px;
}

h3 {
	font-family: verdana; 
	color: 	#00FA9A; 
	font-size: 40px;
}

h4 {
	font-family: verdana; 
	color: 	#00FA9A; 
	font-size: 40px;	
}

h5 {
	font-family: verdana; 
	color: 	#00FA9A; 
	font-size: 40px;
}

li {
	font-family: monospace; 
	color: #E0FFFF; 
	font-size: 30px
}

div {
	border-radius: 5px;
	border: 2px solid #6495ED;
	background-color: #BCD2EE;
	height: 300x;
	width: 370px;
	margin: auto;
	text-align: center;
}

a {
	text-decoration: none;
	color: #ffffff;
	font-family: cursive;
	font-size: 30px;
}

span {
	font-weight: bold;
	font-size: 65px;
	color: #00BFFF;
}
